extends layouts/layout.pug

block content
  section#about
    h2 Sobre Nós
    p Somos 3 alunos que estudam na Unilavras e fazemos o curso de Análise e Desenvolvimento de Sistemas. Atualmente, estamos cursando a matéria de Back End 2.
    p Nosso objetivo é aplicar os conhecimentos adquiridos na criação de projetos reais que possam impactar positivamente a sociedade.
    p Durante o curso, aprendemos a desenvolver aplicações robustas e seguras, utilizando tecnologias modernas e práticas recomendadas pelo mercado.
    p Estamos comprometidos com a excelência acadêmica e profissional, sempre buscando aprimorar nossas habilidades e conhecimentos.
