extends layouts/layout.pug

block content
  section#services
    h2 Nossos Serviços
    p Descubra a ampla gama de serviços que oferecemos:
    ul
      li Desenvolvimento de Sistemas Web
      li Consultoria em Tecnologia da Informação
      li Suporte Técnico e Manutenção de Sistemas
      li Treinamento e Capacitação em TI
    p Nosso foco é entregar soluções inovadoras e eficientes que atendam às necessidades específicas de nossos clientes.
